<nav>
  <div>
    <i class="bx bx-menu"></i>
  </div>
  <div id="top-right">
    <div>
      <input type="checkbox" id="switch-mode" hidden />
      <!-- <label for="switch-mode" class="switch-mode"></label> -->
    </div>
    <div>
      <a href="#" class="profile" style="margin-left: 6rem;">
        <img
          src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
        />
      </a>
    </div>
  </div>
</nav>
