<footer>
    <ul>
        <li>
            <a href="https://www.facebook.com/profile.php?id=100091796445602">
                <img src="/images/facebook.png" alt="Facebook logo">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/onlineblooddonationsystem/">
                <img src="/images/instagram.png" alt="Instagram logo">
            </a>
        </li>
        <li>
            <a href="https://www.twitter.com">
                <img src="/images/twitter.png" alt="Twitter logo">
            </a>
        </li>
    </ul>
    <h2>Made with love</h2>
        <p>Copyright &#169 2023. All Rights Reserved By Online Blood Bank System</p>
        <p>Design and Develop By us</p>
</footer>