<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/styles/confirm.css">
    <title>Document</title>
</head>
<body>

    <%- include('includes/header.ejs')%>

    <main>
        <section id="text">
            <h1>Page not found!</h1>
            <p>unfortunately, we weren't able to find this page</p>
        </section>
    </main>
 
    <%- include('includes/footer.ejs')%>;

</body>
</html>