<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/styles/aboutUs.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="/scripts/aboutUs.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
  </head>
  <body>
    <%- include('includes/header.ejs')%>

    <h1>About us</h1>
    <section class="top">
        <img src="/images/blood.jpeg" alt="Blood image" />
      <div class="top-text">
        <p>
          Blood bank is a place where blood bag that is collected from blood
          donation events is stored in one place. The term “blood bank" refers
          to a division of a hospital laboratory where the blood is stored and
          where proper testing is performed to reduce the risk of transfusion
          related events . The process of managing the blood bag that is
          received from the blood donation events needs a proper and systematic
          management. The blood bag must be handled with care and treated
          thoroughly as it is related to someone's life. The development of
          Web-based Blood Bank And Donation Management System (BBDMS) is
          proposed to provide a management functional to the blood bank in order
          to handle the blood bag and to make entries of the individuals who
          want to donate blood and who are in need.
        </p>
      </div>
    </section>

    <section class="bottom">
      <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
      
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="/images/ghouse.png" alt="Ghouse">
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">Mohammed Ghouseuddin | Developer</div>
              <div class="blog-slider__text">A skilled developer with a strong background in backend development. He has the technical expertise to design and implement software systems. His knowledge of programming languages and frameworks such as Node.js, and MongoDB allows him to build robust and scalable web applications. </div>
              <div class="social-media-profile">
                <a href="https://www.linkedin.com/in/ghousemd/">
                  <i id="linkedin-icon" class='bx bxl-linkedin-square'></i>
                </a>
                <a href="https://www.facebook.com/ghouseuddin.ghouse.50/">
                  <i id="facebook-icon" class='bx bxl-facebook-square'></i>
                </a>
                <a href="https://www.instagram.com/ghousemohammed678/?next=%2F">
                  <i id="instagram-icon" class='bx bxl-instagram-alt'></i>
                </a>
              </div>
            </div>
          </div>
          
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="/images/saiteja.png" alt="Saiteja">
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">9 June 2001</span>
              <div class="blog-slider__title">Missula Saiteja | Developer</div>
              <div class="blog-slider__text">A talented front-end developer with a strong eye for detail and a passion for creating high-quality user experiences. His technical skills in HTML, CSS, and JavaScript allow him to design and build responsive and interactive web applications that meet the needs of his clients.</div>
              <div class="social-media-profile">
                <a href="https://www.linkedin.com/in/saiteja18/">
                  <i id="linkedin-icon" class='bx bxl-linkedin-square'></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100005510208543&mibextid=ZbWKwL">
                  <i id="facebook-icon" class='bx bxl-facebook-square'></i>
                </a>
                <a href="https://www.instagram.com/1_sai_teja_8/">
                  <i id="instagram-icon" class='bx bxl-instagram-alt'></i>
                </a>
              </div>
            </div>
          </div>
          
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="/images/huzaifa.png" alt="Huzaifa">
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">21 September 2000</span>
              <div class="blog-slider__title">Mohammed Huzaifa | Developer</div>
              <div class="blog-slider__text">Assisted in code bugs and fixation, major contribution in documentation, research paper and patent filing.</div>
              <div class="social-media-profile">
                <a href="https://www.linkedin.com/in/moinhuzaifa">
                  <i id="linkedin-icon" class='bx bxl-linkedin-square'></i>
                </a>
                <a href="https://www.facebook.com">
                  <i id="facebook-icon" class='bx bxl-facebook-square'></i>
                </a>
                <a href="https://instagram.com/moin_huzaifa?igshid=ZDdkNTZiNTM=">
                  <i id="instagram-icon" class='bx bxl-instagram-alt'></i>
                </a>
              </div>
            </div>
          </div>

          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="/images/harsha.png" alt="Harsha">
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">6 February 2001</span>
              <div class="blog-slider__title">Harsha Nelaturu | Developer</div>
              <div class="blog-slider__text">Helped in designing front end pages and gathering ideas for project development</div>
              <div class="social-media-profile">
                <a href="https://www.linkedin.com/in/harsha-nelaturu-4ab8b5203/">
                  <i id="linkedin-icon" class='bx bxl-linkedin-square'></i>
                </a>
                <a href="https://www.facebook.com/harsha.nelaturu.5">
                  <i id="facebook-icon" class='bx bxl-facebook-square'></i>
                </a>
                <a href="https://www.instagram.com/harsha_nelaturu/">
                  <i id="instagram-icon" class='bx bxl-instagram-alt'></i>
                </a>
              </div>  
            </div>
          </div>
          
        </div>
        <div class="blog-slider__pagination"></div>
      </div>
      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script> 
    </section>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/app.js"></script>

    <%- include('includes/footer.ejs')%>
  </body>
</html>