<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/adminHead.ejs')%>
    <link rel="stylesheet" href="/styles/passwords.css" />
    <script src="/scripts/adminB/script.js" defer></script>

    <title>Passwords</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <%- include('includes/adminAside.ejs')%>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button type="submit" class="search-btn">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden />
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
          <i class="bx bxs-bell"></i>
          <span class="num">8</span>
        </a>
        <a href="#" class="profile">
          <img src="img/people.png" />
        </a>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main class="box">
        <div class="head-title">
          <div class="left">
            <ul class="breadcrumb">
              <li>
                <a href="#">AdminHub</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Passwords</a>
              </li>
            </ul>
          </div>
        </div>
        <section id="first" class="freeText">Password Fields</section>
        <section id="second" class="freeText">
          <div>
            <label for="current-password">Current Password</label>
            <input
              type="password"
              name="current-password"
              id="current-password "
              class="changeInput"
            />
          </div>
          <div>
            <label for="new-password" class="label-2">New Password</label>
            <input
              type="password"
              name="new-password"
              id="new-password"
              class="changeInput"
            />
          </div>
          <div>
            <label for="confirm-password">Confirm Password</label>
            <input
              type="password"
              name="confirm-password"
              id="confirm-password"
              class="changeInput"
            />
          </div>
          <div class="inside-box">
            <button type="submit">Save Changes</button>
          </div>
        </section>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->
  </body>
</html>
