<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/styles/whyDonate.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('includes/header.ejs')%>
    <main>
      <section>
        <h2>why donate blood</h2>
        <hr />
        <p>
          Blood donation is a life-saving act that can help save the lives of
          people in need. When you donate blood, you're helping to provide a
          vital resource that can be used in a variety of medical treatments,
          including:
        </p>
        <ul>
          <li>
            Emergency situations, such as car accidents or natural disasters
          </li>
          <li>Cancer treatments</li>
          <li>Blood disorders, such as anemia or sickle cell disease</li>
          <li>Organ transplants</li>
        </ul>
        <p>
          By donating blood, you can help make a difference in someone's life
          and give them a chance at recovery. Plus, donating blood has health
          benefits for the donor, such as reducing the risk of heart disease and
          stroke.
        </p>
        <img
          src="/images/whyDonate.png"
          alt="Blood Donation"
          class="donation-image"
        />
      </section>
    </main>
    <%- include('includes/footer.ejs')%>
  </body>
</html>
