#first {
    margin-top: 30px;
    height: 3rem;
    width: 55rem;
    padding: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgb(192, 192, 192);
    border: 1px solid rgb(152, 159, 184);
  }
  
  #first.dark {
    background: #0c0c1e;
    color: white;
    border: 2px solid white;
  }
  
  #second {
    height: 20rem;
    width: 55rem;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(152, 159, 184);
  }
  
  #second.dark {
    background: #0c0c1e;
    color: white;
    border: 2px solid white;
  }
  
  #second div {
    margin-left: 10rem;
    margin-top: 2rem;
  }
  
  #second input.dark {
    background-color: #060714;
    color: white;
  }
  main label {
    text-transform: capitalize;
    font-size: 15px;
    width: 145px;
    display: inline-block;
  }
  
  input {
    padding: 0.5rem;
    border: 1px solid rgb(152, 159, 184);
    width: 70%;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .inside-box {
    padding-top: 1px;
    padding-left: 9.5rem;
  }
  
  button {
    font-size: 15px;
    background-color: #a22020;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
  }
  